


body{
  background-image: url(./Images/pexels-vividcafe-681331.jpg);
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
  background-color: #3e3e3e;
}


html, body, #app, #app>div {
  height: 100%
}

/* style.css */

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 24px;
  color: gray;
  margin-right: 4px;
  

 
}

.star.filled {
  color: rgb(255, 237, 73);
  
}
.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.hamburger {
  display: none; /* Hide by default for larger screens */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

.open .bar:first-child {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:last-child {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Hide menu by default on smaller screens */
  }

  .hamburger {
    display: block; /* Show hamburger icon on smaller screens */
  }

  .open .menu {
    display: flex; /* Show menu when hamburger icon is clicked */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    right: 0;
    background-color: #1a202c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
}




